.Container {
  padding: 48px 16px 68px 16px;
}

.ChatItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding: 16px 0;
  gap: 10px;

  .Left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;

    .RoomTitle {
      margin-bottom: 10px;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      line-height: 1;
    }

    .RoomName {
      display: inline-block;
      margin-right: 4px;
      flex-shrink: 0;
      font-size: 16px;
      font-weight: 600;
      color: $gray-800;
      line-height: 1;
    }

    .Members {
      font-size: 16px;
      font-weight: 500;
      color: $gray-500;
    }

    .Avatar {
      flex-shrink: 0;
      width: 52px;
      height: 52px;
    }

    .LastMessage {
      font-size: 14px;
      font-weight: 400;
      color: $gray-600;
      line-height: 1;
    }
  }

  .Right {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;

    .LastChatTime {
      font-size: 12px;
      line-height: 1.7;
      font-weight: 500;
      color: $gray-400;
    }

    .Chip {
      display: inline;
      font-size: 12px;
      line-height: 1;
      padding: 4px 6px;
      border-radius: 999px;
      background-color: $primary-500;
      color: #ffffff;
    }
  }
}

.EmptyChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .EmptyChatText {
    text-align: center;
    line-height: 1.55;
    font-size: 16px;
    font-weight: 400;
    color: $gray-500;
    margin-top: 16px;
  }

  .Button {
    height: 44px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: 1px solid $gray-200;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 20px;
  }
}
