.Container {
  width: 100%;
  position: relative;
  padding-top: rem(48px);
  height: calc(100svh);
  background-color: #fff;

  img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.Bottom {
  position: absolute;
  bottom: 26px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
