.Container {
  width: 100%;
  position: relative;
  padding-top: rem(48px);
  height: calc(100vh);

  img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.Bottom {
  position: absolute;
  bottom: rem(26px);
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  padding: 0 rem(16px);
}
