.Title {
  font-size: rem(18px);
  font-weight: 700;
  color: $gray-900;
  line-height: 1.7;
}

.Graph {
  width: 100%;
  margin-top: rem(20px);
  height: rem(167px);
  background-color: $gray-100;
}

.Noti {
  background-color: $gray-100;
  padding: rem(12px) rem(16px);
  margin: rem(20px) 0 rem(40px) 0;
  font-size: rem(14px);
  line-height: 1.7;
  display: flex;
  border-radius: rem(8px);

  .NotiTitle {
    font-weight: 700;
    color: $gray-600;
  }

  .NotiDescription {
    color: $gray-800;
  }
}
