.Title {
  font-size: rem(18px);
  font-weight: 700;
  color: $gray-900;
  line-height: 1.7;
}

.Graph {
  width: 100%;
  margin-top: rem(20px);
  height: rem(167px);
  background-color: $gray-100;
}
