@import './PartyPlaceForm.module.scss';

.container {
  position: relative;
  width: 100%;
  padding-bottom: rem(148px);

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.65;
    margin-bottom: rem(32px);
  }

  .question {
    margin-bottom: rem(40px);
  }

  .questionTitle {
    font-size: rem(14px);
    font-weight: 500;
    line-height: 1.7;
    color: #777777;
    margin-bottom: rem(8px);
  }

  .input {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    font-size: rem(16px);
    line-height: 1.7;
  }

  .minMax {
    text-align: right;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.02;
    color: #9a9a9a;

    strong {
      color: #333333;
      font-weight: 400;
    }
  }

  .footer {
    @include footer;
  }

  .nextBtn {
    @include nextBtn;
  }
}
