@import './PartyPlaceForm.module.scss';

.container {
  position: relative;
  width: 100%;
  padding-bottom: rem(148px);

  .title {
    font-size: rem(24px);
    font-weight: bold;
    line-height: 34px;
    margin-bottom: rem(32px);
  }

  .AccordionItem {
    margin-bottom: 40px;

    &[data-state="open"] {
      margin-bottom: 60px;
    }
  }

  .questionTitle {
    font-size: rem(14px);
    font-weight: 500;
    line-height: 1.7;
    color: #777777;
    margin-bottom: rem(8px);
  }

  .ScrollPickerWrapper {
    width: 150px;
    margin: 0 auto;
  }

  .input {
    width: 100%;
    padding-bottom: rem(8px);
    border-bottom: rem(1px) solid #cccccc;
    font-size: rem(16px);
    line-height: 1.7;
  }

  .footer {
    @include footer;
  }

  .nextBtn {
    @include nextBtn;
  }

  .trigger {
    border-bottom: rem(1px) solid #e5e5e5;
    padding-top: rem(16px);
    padding-bottom: rem(8px);
    margin-bottom: rem(24px);
  }

  .trigger-text {
    font-size: rem(16px);
    line-height: 1.7;
  }

  .active {
    color: #333333;
    border-color: #333333;
  }

  .xAxis {
    display: flex;
    justify-content: space-between;
    margin-top: rem(4px);
    color: #a1a1a1;
    font-size: rem(14px);
    line-height: 1.7;
    letter-spacing: -0.02;
  }

  .checkboxWrapper {
    display: inline-flex;
    align-items: center;
    margin-top: rem(16px);
  }

  .checkbox {
    width: (16px);
    height: rem(16px);
    border: rem(1px) solid blue;

    &.checked {
      background-color: blue;
    }
  }

  .checkboxLabel {
    margin-left: rem(6px);
    font-size: rem(14px);
    line-height: 1.7;
    letter-spacing: -0.02;
    color: #333333;
  }
}
