@mixin footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $max-width;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-top: 1px solid #f6f6f6;
}

@mixin nextBtn {
  $wrapper-padding: rem(16px);
  $height: rem(52px);
  width: calc(100% - $wrapper-padding * 2);
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #7835f7;
  border-radius: calc($height / 2);

  &.disabled {
    opacity: 0.2;
  }
}

.container {
  position: relative;
  width: 100%;
  padding: 0 16px 148px 16px;

  .title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.65;
    margin: 32px 0 48px 0;
    display: inline-block;
  }

  .inputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }

  .input {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 8px;
    padding-right: 20px;
    border-bottom: 1px solid #cccccc;
    font-size: rem(16px);
    line-height: 1.7;
  }

  .SearchIcon {
    position: absolute;
    right: 0;
    bottom: 11.5px;
    pointer-events: none;
  }

  .DeleteBtn {
    position: absolute;
    right: 0;
    bottom: 12.5px;
  }

  .textarea {
    width: 100%;
    height: 263px;
    outline: none;
    border: 1px solid #e5e5e5;
    padding: 16px;
    resize: none;
    font-size: rem(16px);
    line-height: 1.7;
  }

  .searchBtn {
    position: absolute;
    right: 0;
  }

  .searchList {
    margin-top: rem(12px);
    height: 300px;
    overflow-y: auto;
  }

  .searchItem {
    display: flex;
    align-items: center;
    font-size: rem(16px);
    line-height: 1.7;
    letter-spacing: -0.02;
    font-weight: 400;
    height: rem(44px);
    overflow: hidden;

    svg {
      flex-shrink: 0;
    }
  }

  .searchItemText {
    margin-left: rem(10px);
  }

  .footer {
    @include footer;
  }

  .nextBtn {
    @include nextBtn;
  }
}
