.container {
  position: relative;
  width: 100%;
  padding-bottom: rem(148px);

  .title {
    font-size: 24px;
    font-weight: bold;
    // @todo line-height가 165%로 되어 있어서 16.5로 했는데 이게 맞는지 확인 필요
    line-height: 1.65;
    margin-bottom: rem(32px);
  }

  .input {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    font-size: rem(16px);
    line-height: 1.7;
  }

  // @todo 뒤에 배경 가려야 하는 것에 대한 디자인 요청 필요
  .nextBtn {
    $wrapper-padding: 16px;
    $height: 52px;
    position: fixed;
    bottom: $wrapper-padding;
    left: $wrapper-padding;
    width: calc(100% - $wrapper-padding * 2);
    height: rem($height);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #7835f7;
    border-radius: rem(calc($height / 2));
  }

  .trigger {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }

  .trigger-text {
    font-size: rem(16px);
    line-height: rem(1.7);
  }

  .list {
    display: flex;
    gap: rem(8px);
    width: 100%;
  }

  .item {
    border: 1px solid #e5e5e5;
    flex: 1;
    height: rem(44px);
    border-radius: rem(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777777;
    font-size: rem(14px);
    line-height: rem(1.7);
    margin-bottom: rem(60px);
  }

  .active {
    color: #333333;
    border-color: #333333;
  }
}
