.Container {
  width: 100%;
  background-color: white;

  .LastDate {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    color: $gray-400;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .SystemMessageLayout {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .SystemMessage {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    color: $gray-600;
    border: 1px solid $gray-100;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .OtherMessageContainer,
  .MyMessageContainer {
    padding: 0 16px;
    display: flex;
    margin-bottom: 16px;

    .SendTime {
      font-size: 10px;
      line-height: 1;
      font-weight: 500;
      color: $gray-400;
      align-self: end;
    }

    .MessageItem {
      background-color: $gray-100;
      border-radius: 9999px;
      padding: 7px 12px;
      color: $gray-900;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
    }
  }

  .OtherMessageContainer {
    .MemberAvatar {
      margin-right: 8px;
    }

    .MemberName {
      font-size: 12px;
      font-weight: 500;
      color: $gray-600;
      margin-bottom: 6px;
    }

    .OtherMessageList {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-right: 4px;
    }
  }

  .MyMessageContainer {
    gap: 8px;
    justify-content: flex-end;

    .MessageItem {
      color: white;
      background-color: $primary-500;
    }

    .SendTime {
      margin-right: 4px;
    }

    .MyMessageList {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 6px;
    }
  }
}

.footer{
  position: fixed;
  max-width: $max-width;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #ffffff;
  padding-bottom: env(safe-area-inset-bottom);
}

.Bottom {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  box-shadow: 0 -4px 12px 0px rgba(#000000, 0.04);
  background: #ffffff;

  .Input {
    width: 100%;
    padding: 8px 14px;
    border-radius: 9999px;
    background-color: $gray-100;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 500;
    color: $gray-900;

    &::placeholder {
      color: $gray-400;
    }
  }

  .Plus {
    flex-shrink: 0;
    margin-right: 8px;
  }

  .Submit {
    flex-shrink: 0;
    color: $gray-400;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $gray-100;
  }

  .Active {
    color: white;
    background-color: $primary-500;
  }
}
