.container {
  overflow: hidden;
  background-color: #f6f6f6;
}

.main {
  margin-top: rem(56px);
  margin-bottom: rem(65px);
  height: calc(100vh - (rem(56px) + rem(65px)));
  overflow-y: auto;

  h1 {
    font-size: rem(20px);
    font-weight: 800;
    color: #222222;
    line-height: 1.7;
    margin-bottom: rem(16px);
  }
}

.PartyUl {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16px);
  padding: 0 rem(16px);

  li {
    width: 100%;
  }

  li:last-child {
    margin-bottom: rem(16px);
  }
}

.SearchForm {
  display: flex;
  flex-direction: column;
  gap: rem(24px);
  background-color: white;
  padding: 0 rem(16px);
  padding-bottom: rem(32px);
  border-radius: 0 0 rem(32px) rem(32px);
}

.Contents {
  padding: rem(32px) rem(16px);
  padding-bottom: rem(24px);
}
