.container {
  background-color: $gray-100;
}

.main {
  margin-top: 56px;
  padding-bottom: 100px;
  background-color: $gray-100;
  min-height: calc(100vh - 56px);
}

.PartyUl {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 16px;

  li {
    width: 100%;
  }

  li:last-child {
    margin-bottom: 16px;
  }
}

.SearchForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: white;
  padding: 0 16px;
  padding-bottom: 32px;
  border-radius: 0 0 32px 32px;
}

.Contents {
  padding: 32px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.Title {
  font-size: rem(20px);
  font-weight: 800;
  color: $gray-900;
  line-height: 1.7;
}

.ContentHeader {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.Buttons {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
}
