.Container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 48px;
  padding-bottom: 85px;
  min-height: calc(100vh - 48px - 68px);
  overflow-y: auto;
  background-color: $gray-100;

  section {
    background-color: white;
    padding: 28px 16px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.Bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: $max-width;
  background-color: white;
  padding: 16px;
  border-top: 1px solid $gray-100;

  .Button {
    width: 100%;
    box-sizing: border-box;
    height: 52px;
    border-radius: 26px;
    font-size: rem(16px);
    font-weight: 700;
  }
}
