.ChatBubbleContainer {
  padding: 47px 0 64px;
  height: 100svh;
  width: 100%;
}

.Alert {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary-100;
  font-size: 14px;
  font-weight: 400;
  color: $gray-800;
  margin-bottom: 24px;
}

.ChatBubbleList {
  width: 100%;
  height: calc(100svh - $top-bar-height - $chat-input-height);
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  overscroll-behavior: contain;
}

.InfiniteScroll {
  display: flex;
  flex-direction: column-reverse;
  overflow: visible;
}

.ChatNewMssage {
  position: fixed;
  bottom: (64px + 16px);
  left: 50%;
  transform: translateX(-50%);
  font-size: rem(14px);
  height: 24px;
  border-radius: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  background-color: $gray-900;
  color: white;
}

.ChatDate { 
  display: block;
  margin: 48px 0 16px;
  font-size: rem(12px);
  color: $gray-400;
  width: 100%;
  text-align: center;

  &.isFirst {
    margin-top: 16px;
  }
}