$footer-height: 52px + env(safe-area-inset-bottom);
$banner-height: (68px + 26px + 24px);

.Container {
  width: 80vw;
  height: 100svh;
  background-color: #ffffff;
  position: relative;
}

.Top {
  overflow-y: auto;
  height: calc(100% - $footer-height - $banner-height);
}

.Title {
  border-bottom: 1px solid $gray-100;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  .TitleText {
    font-size: 16px;
    font-weight: 600;
    color: $gray-900;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Alarm {
    flex-shrink: 0;
  }
}

.MemberInfo {
  padding-top: 24px;
  padding-left: 16px;

  height: calc(100% - 48px);
  overflow: scroll;

  .MemberInfoTitle {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: $gray-900;
    margin-bottom: 16px;
  }

  .Member {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .Avatar {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  .Master {
    color: $primary-400;
    margin-right: 4px;
  }

  .MemberName {
    font-size: 14px;
    font-weight: 400;
    color: $gray-800;
    margin-right: 4px;
  }

  .Chip {
    background: $gray-100;
    border-radius: 30px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 400;
    color: $gray-600;
    line-height: 1;
  }
}

.Footer {
  background: $gray-100;
  border-top: $gray-200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footer-height;
  padding: 0 16px;
  padding-bottom: env(safe-area-inset-bottom);

  .ExitText {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    color: $gray-600;
  }
}

.Banner {
  border-top: 1px solid $gray-100;
  height: $banner-height;
  padding: 26px 16px 24px;
}

.PartyBanner {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  background-color: $primary-100;
  border: 1px solid $primary-200;
  border-radius: 8px;
  position: relative;

  .Contents {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
  }
  .Time {
    font-size: rem(12px);
    color: $gray-700;
  }
  .Name {
    font-size: rem(14px);
    color: $gray-900;
    width: calc(100% - 48px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .Image {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .Icon {
    color: $gray-400;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}