.ScrollDownButton {
  position: fixed;
  bottom: 80px;
  right: 16px;
  z-index: 100;
  color: $gray-500;
  background-color: #ffffffdb;
  border: 1px solid $gray-300;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}