.container {
  color: $gray-800;
  font-size: rem(16px);
  position: relative;
  width: 100%;

  .icon {
    position: absolute;
    top: 50%;
    left: rem(16px);
    transform: translateY(-50%);
    color: $gray-500;
  }

  .delete {
    position: absolute;
    top: 50%;
    right: rem(16px);
    transform: translateY(-50%);
    color: $gray-500;
  }

  input {
    width: 100%;
    padding: 0 rem(44px);
    font-size: rem(16px);
    background-color: $gray-100;
    border-radius: rem(5px);
    font-size: rem(14px);
    height: rem(47px);
    border-radius: calc(rem(47px) / 2);
    box-sizing: border-box;
  }

  input::placeholder {
    color: $gray-500;
  }
}
