.Trigger {
  width: 100%;
  color: $gray-400;
  border-bottom: 1px solid $gray-200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  .Icon {
    color: $gray-600;
  }
}

.Trigger[data-active='true'] {
  color: $gray-800;
}

.Content {
  position: relative;

  .Close {
    position: absolute;
    top: 0;
    right: 0;
    padding: rem(16px);
  }

  .Header {
    height: rem(58px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: rem(1px) solid $gray-200;

    h2 {
      font-size: rem(20px);
      font-weight: 700;
    }
  }
}

.SkillList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;

  li {
    width: 100%;
    box-sizing: border-box;
  }
}

.SkillLevelOptionButton {
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid $gray-200;
  position: relative;
  box-sizing: border-box;
}

.SkillLevelOptionButton[data-selected='true'] {
  background-color: $primary-100;
  color: $primary-500;
  font-weight: 600;

  .Icon {
    position: absolute;
    color: $primary-500;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
