button {
  all: unset;
}

.SelectTrigger {
  color: $gray-800;
  border-bottom: 1px solid $gray-200;
  padding: 8px 0;
  font-size: rem(16px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 51px;
}
.SelectTrigger:hover {
  background-color: var(--mauve-3);
}
.SelectTrigger[data-placeholder] {
  color: $gray-600;
}

.SelectIcon {
  color: $gray-600;
}

.SelectContent {
  width: var(--radix-select-trigger-width);
  max-height: 300px;
  // max-height: var(--radix-select-content-available-height);
  background-color: white;
}

.SelectItem {
  font-size: rem(16px);
  position: relative;
  color: $gray-800;
  padding: 10px 14px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  outline: none;
  background-color: $primary-100;
  color: $primary-500;
}

.SelectItemIndicator {
  position: absolute;
  color: $primary-500;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
