.Overlay {
  background-color: #00000030;
  position: fixed;
  inset: 0;
  animation: overlayShow 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

.SideSheetContent {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s;
  animation: sideSheetContentShow 400ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes sideSheetContentShow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
