/* reset */
button {
  all: unset;
}

.ToastViewport {
  --viewport-padding: 50px;
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  min-width: 200px;
  width: max-content;
  margin: 0;
  list-style: none;
  z-index: 2147483647;
  outline: none;
}

.ToastRoot {
  background-color: rgba(0, 0, 0, 0.79);
  max-width: 90vw;
  box-sizing: border-box;
  color: #fff;
  border-radius: 50px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateY(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateY(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateY(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  font-size: rem(14px);
  word-break: keep-all;
  text-align: center;
}

.ToastAction {
  grid-area: action;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 500;
}
.Button.small {
  font-size: 12px;
  padding: 0 10px;
  line-height: 25px;
  height: 25px;
}
.Button.large {
  font-size: 15px;
  padding: 0 15px;
  line-height: 35px;
  height: 35px;
}
.Button.violet {
  background-color: white;
//   color: var(--violet-11);
//   box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
//   background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
//   background-color: var(--green-2);
//   color: var(--green-11);
//   box-shadow: inset 0 0 0 1px var(--green-7);
}
.Button.green:hover {
//   box-shadow: inset 0 0 0 1px var(--green-8);
}
.Button.green:focus {
//   box-shadow: 0 0 0 2px var(--green-8);
}