.Toggle {
  flex-shrink: 0;
  color: #9a9a9a;
  background-color: white;
  border: rem(1px) solid #e9e9e9;
  padding: 0 rem(12px);
  font-size: rem(14px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(6px);
  height: rem(32px);
  border-radius: rem(16px);
  flex-shrink: 0;
}
.Toggle:hover {
}
.Toggle[data-state='on'] {
  background-color: #e9e9e9;
}
