.Button {
  flex-shrink: 0;
  color: $gray-600;
  background-color: white;
  border: rem(1px) solid #e9e9e9;
  padding: 0 rem(12px);
  font-size: rem(14px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(6px);
  height: rem(32px);
  border-radius: rem(16px);
  flex-shrink: 0;
  white-space: nowrap;
}
.Button[data-state='active'] {
  color: $gray-800;
  border: rem(1px) solid $gray-800;
}

.NoFlexShrink {
  flex-shrink: 0;
}
