.Container {
  width: 100%;
  background-color: white;
  border-radius: rem(8px);
  padding: rem(20px) 0;
}

.Top {
  padding: 0 rem(20px);

  h3 {
    width: 100%;
    font-size: rem(16px);
    color: $gray-900;
    line-height: 1.7;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 2줄 넘어가면 말줄임 */
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
  }

  .Time {
    font-size: rem(14px);
    color: $gray-700;
    line-height: 1.7;
  }

  .GymName {
    font-size: rem(12px);
    color: $gray-700;
    background-color: $gray-100;
    border-radius: 2px;
    padding: 4px 8px;
    line-height: 1.7;
  }
}

.Section {
  padding: 0 rem(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Info {
    color: $gray-500;
    font-size: rem(14px);
    line-height: 1.7;
    display: flex;
    align-items: center;
    gap: rem(5px);
  }
}

.Divider {
  width: 100%;
  margin: rem(14px) 0;
  border-bottom: 1px solid $gray-100;
}

.SkeletonContainer {
  width: 100%;
  height: rem(194px);
  background-color: white;
  border-radius: rem(8px);
}
.SkeletonTop {
  padding: rem(20px);
  display: flex;
  flex-direction: column;
  gap: rem(10px);
}
.SkeletonSection {
  padding: 0 rem(20px);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: rem(10px);
}
.Skeleton {
  width: 100%;
  height: rem(20px);
  background-color: $gray-100;
  border-radius: rem(8px);
  animation: skeleton-loading 0.7s linear infinite alternate;
}
.w-80 {
  width: 80%;
}
.w-60 {
  width: 60%;
}
.w-40 {
  width: 40%;
}
.h-25 {
  height: rem(25px);
}

@keyframes skeleton-loading {
  0% {
    background-color: $gray-100;
    opacity: 0.5;
  }
  100% {
    background-color: $gray-100;
    opacity: 1;
    width: 70%;
  }
}
