.PartyUl {
  display: flex;
  flex-wrap: wrap;
  gap: rem(16px);
  padding: 0 rem(16px);

  li {
    width: 100%;
  }

  li:last-child {
    margin-bottom: rem(16px);
  }
}

.PartyEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 32px;
  box-sizing: border-box;

  span {
    color: $gray-500;
  }
}

.PartyError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 32px;
  box-sizing: border-box;
}
