.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: rem(14px);
}

.Button[data-checked='true'] {
  .Icon {
    color: $primary-500;
  }
}

.Icon {
  color: $gray-300;
}
