.Container {
  width: 100%;
  position: relative;
  padding-top: rem(48px);
  height: calc(100vh);
  background: white;
  background: linear-gradient(180deg, rgba(228, 219, 248, 1) 0%, rgba(255, 255, 255, 1) 30%);
}

.Main {
  padding: 0 rem(16px) rem(84px);

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
    margin: 52px 0 60px;
  }

  .Title {
    font-size: rem(24px);
    font-weight: 700;
  }

  .Description {
    color: $gray-700;
  }
}

.Fileldset {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  .LabelWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 8px;
  }

  .Label {
    font-size: rem(14px);
    color: $gray-700;
  }

  .Warning {
    font-size: rem(12px);
    color: red;
  }
}

.Bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 16px;

  .Info {
    color: $gray-600;
    font-size: rem(14px);
  }

  .Button {
    width: 100%;
    box-sizing: border-box;
    height: rem(52px);
    border-radius: rem(26px);
    font-size: rem(16px);
    font-weight: 700;
  }
}
